<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1> Welcome to {{ title }}! </h1>
  <nav>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/directory']">Directory</a></li>
    </ul>
  </nav>
  <!-- #12 Services Do NOT Repeat Yourself-->
  <p>#23 Logger Service </p>
  <button (click)='testLogger()'>Test Log</button>
</header>
<section id="main">
  <!--<app-home [smoothy]="smoothy" (onSale)="sale($event)"> Smoothy Here!</app-home> -->


<router-outlet></router-outlet>
</section>
