<p>{{fruit}}</p>

<!--
Directives: -- Arribute Directive: [ngClass]
            -- Structural Directive: *ngIf, *ngFor
-->

<!-- #19 Attribute Directives [ngClass] -->
<!--
<p [ngClass]="{'blue': false, 'red': true, 'underline': true}">
  directory works!
</p>
-->

<!--
<p [ngClass]="classes">
  directory works!
</p>
<style media="screen">
  .blue{color: blue;}
  .red{color: red;}
  .underline{text-decoration: underline;}
</style>
-->

<!-- #19 Structural Directive: *ngIf -->
<!--
<p *ngIf="test">Only show if test is true</p>
-->


<!-- #20 Structural Directive: *ngFor -->
<h2> Fruits List </h2>

<!-- #22 Creating a FIlter Piper -->
<!-- Create a Search Form -->
<form id="filter">
  <label> Filter fruits by name: </label>
  <input type="text" name="term" [(ngModel)]="term" />
</form>


<ul id="fruit-listing">
  <!-- #22 Creating a FIlter Piper -->
  <li *ngFor="let fruit of fruits | filter:term">
    <div class="single-fruit">
      <!-- Fruit Color -->
      <!-- Fruit Name -->
      <h3>
        <span [ngStyle]="{color: fruit.color}">
        {{fruit.color}} {{fruit.name}}
        </span>
        <!-- Fruit Price -->
        {{fruit.price}}
      </h3>
      <!-- #21 Pipes-->
      <!--
      <h3>color uppercase -- <span [ngStyle]="{color: fruit.color}">{{fruit.color | uppercase}}</span></h3>
      <h3>price slice:1 -- {{fruit.price | slice:1}}</h3>
      <h3>name slice:1:3 -- {{fruit.name | slice:1:3}}</h3>
      -->
    </div>
  </li>
</ul>
