<p>{{fruit}}</p>

<!--
Directives: -- Arribute Directive: [ngClass]
            -- Structural Directive: *ngIf, *ngFor
-->

<!-- #19 Attribute Directives [ngClass] -->
<!--
<p [ngClass]="{'blue': false, 'red': true, 'underline': true}">
  directory works!
</p>
-->

<!--
<p [ngClass]="classes">
  directory works!
</p>
<style media="screen">
  .blue{color: blue;}
  .red{color: red;}
  .underline{text-decoration: underline;}
</style>
-->

<!-- #19 Structural Directive: *ngIf -->
<!--
<p *ngIf="test">Only show if test is true</p>
-->

<!-- #20 Structural Directive: *ngFor -->
<h2> Fruits List </h2>
<ul id="fruit-listing">
  <li *ngFor="let fruit of fruits">
    <div class="single-fruit">
      <!-- Fruit Color -->
      <!-- Fruit Name -->
      <h3>
        <span [ngStyle]="{color: fruit.color}">
        {{fruit.color}} {{fruit.name}}
        </span>
        <!-- Fruit Price -->
        {{fruit.price}}
      </h3>
    </div>
  </li>
</ul>
