<p>home works! </p>
<h3> {{homeTitle}} </h3>

<!-- Property Binding-->
<input [value]="myString" />
<input [required]="myBoolean" />

<input value="{{myString}}" />
<input required="{{myBoolean}}" />
<br>
<br>
<!-- Event Binding-->
<button type="button"(click)="alertMe1()"> alertMe1()  Hi, there</button>
<p>Result: Hi, there!</p>
<button type="button" (click)="alertMe2('I like apple')"> alertMe2('I like apple')</button>
<p>Result: I like apple!</p>
<button type="button" (click)="alertMe1(myString)"> alertMe1(myString)</button>
<p>Result: I like cherry!</p>
<button type="button" (click)="alertMe2(myString)"> alertMe2(myString)</button>
<p>Result: I like cherry!</p>
<br>
<!-- 2 Way Data Binding -->
<label> Name: </label>
<input [(ngModel)]="fruit.name" />
<label> Color: </label>
<input [(ngModel)]="fruit.color" />
<label> Price: </label>
<input [(ngModel)]="fruit.price" />

<p>{{fruit.name}}</p>
<p>{{fruit.color}}</p>
<p>{{fruit.price}}</p>

<!-- Custom Event Binding @Input -->
<!--
<h3>Smoothy Here</h3>
<p>{{smoothy.name}}</p>
<p>{{smoothy.color}}</p>
<p>{{smoothy.price}}</p>
-->
<!-- Custom Event Binding @Output -->
<h3>Sales</h3>
<button (click)="fireSaleEvent($event)"> Fire Sales</button>
